*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;

}
.navbar{
    background-color: rgb(225, 168, 69);
    padding: 15px;
    font-size: 20px;
}
.book-container{
    padding: 10px;
}
.book{
    text-align:left;
    padding: 10px;
    width:25%;
    background-color: rgb(169, 184, 255);
    border-radius: 7px;
    margin: 30px;
    display: inline-block;
    vertical-align: top;
}
.book h2{
    font-size: 25px;
}
.book h5{
    font-size: 18px;
}
.book p{
    font-size: medium;
}
.book button{
    background-color: rgb(0, 0, 0);
    font-weight: 500;
    padding:8px;
    font-weight: 700;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
}
.add-button{
    background-color: black;
    color: white;
    border-radius: 100%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 1000;
    border: none;
    position: fixed;
    bottom: 40px;
    right:40px;
}
.add-button:hover{
    cursor: pointer;
}
.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* display: ; */
    z-index: 1;
    display: none;
}
.popup-box{
    background-color:  rgb(169, 184, 255);
    width: 30%;
    padding:40px;
    border-radius: 8px;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    display: none;
}
.popup-box input{
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black 2px;
    outline: none;
}
.popup-box textarea{
    background: transparent;
    border: 2px solid black;
    width: 100%;
    margin: 5px;
    margin-top: 12px;
    padding: 5px;
    padding-bottom: 0px;
    font-size: 20px;
    outline: none;
}
.popup-box input::placeholder{
    color: black;
}
.popup-box textarea::placeholder{
    color: black;
}
.popup-box button{
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    margin: 8px;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 15px;
}
.popup-box button:hover{
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .book{
        width: 90%; 
        margin: 10px auto; 
    }
    
    .popup-box{
        width: 70%; 
        padding: 15px; 
        left: 14%;
        top:20%
        
    }
    .popup-box input{
        border: none;
        width: 90%;
        margin: 5px;
        padding: 5px;
        font-size: 15px;
        border-bottom: solid black 2px;
        outline: none;
    }
    .popup-box textarea{
        border: 1px solid black;
        width: 90%;
        margin: 5px;
        margin-top: 12px;
        padding: 5px;
        padding-bottom: 0px;
        font-size: 15px;
        outline: none;
    }
}

